<div class="" style="display: flex; flex-wrap: wrap;">
    <div>
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="doughnutChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="lineChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="polarChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="radarChart" width="400" height="400"></canvas>
    </div>
</div>